<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-brand" href="#">
    <%= image_tag "cocktail_logo.jpg", alt: "logo" %>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="btn btn-success">
        <%= link_to 'Cocktails', cocktails_path %>
      </li>
      <li class="btn btn-info">
        <%= link_to 'Add a cocktail', new_cocktail_path %>
      </li>
    </ul>
  </div>
</div>
<div class="banner">
  <div class="container cocktail-banner">
    <h1>Cocktails</h1>
  </div>
</div>
<br>
<div class="container cocktails-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card cocktails-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(#)">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </div>
  <% end %>
</div>

