.cocktail-banner {
  background-image: asset-url('home_banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  }

.show-banner {
  background-image: asset-url('show_page_banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  h1 {
    font-size: 58px;
    margin-bottom: 160px;
  }
}


.create-banner {
  background-image: asset-url('create_banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;

}
